.wha{
  display: flex;
  justify-content: center;
}
.weat{
  width: 100vh;
  /* background: linear-gradient(90deg, rgba(214, 213, 226, 1) 0%, rgba(156, 156, 252, 1) 35%, rgba(0, 212, 255, 1) 100%); */
  /* background-image: url('../Assests/few-cloudsBg.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  
}


.city-Input {
  margin-top: 5vh;
  display: flex;

}

.city-Input input {
  margin: 5vh;
  width: 100%;
  outline: none;
  padding: 30px;
  border: 0px;
  border-radius: 60px; 
}

.weather-img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5%;
  cursor: pointer;
  clip-path: circle(50px);
}

.fun-facts {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  position: relative;
  top: -60vh;
  overflow: scroll;
  height: 33vh;
  text-wrap: wrap;
  scrollbar-width: none;   
  float: right;
  width: 40%;
}

.less {
  cursor: pointer;
  height: 70px;
  animation: fro 2s infinite;
  
}

@keyframes fro {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-60px);
  }
}

@keyframes fro1 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(10px);
  }
}

.less1 {
  display: none;
  cursor: pointer;
  height: 60px;
  animation: fro1 2s infinite;
}

.facts {
  display: none;
  color: white;
  font-family: "Truculenta", sans-serif;
  font-size: 30px;
}



.weather-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10vh;
  align-items: center;
}

.timestamp p {
  color: white;
  text-align: center;
  /* font-size: 50px; */
  margin-top: 10px;
  font-weight: 600;
}

.weather-icon p{
  color: white;
  font-size: 50px;
  margin-top: 10px;
  font-weight: 600;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.humidity p,
.wind p {
  padding: 30px;
  font-weight: 500;
  color: white;
  font-family: "Madimi One", sans-serif;
}

.weather-icon img {
  width: 150px;
  height: 150px;
}

.wind img {
  animation: scale 3s linear  infinite alternate;
  /* animation-timeline: view(auto); Default */
}

@keyframes scale {
from{
  transform: scaleX(.6);
}  
to{
  transform: scaleX(.8);
}
}

.sidebar{
  position: absolute;
  background-color: white;
  top: 50%;
  height: auto;
  width: auto;
  display: block;
  margin: 20px;
  border-radius: 20px ;
}

.side-font{
  padding: 10px;
  width: 60px;
  font-size: 30px;
  color: rgb(6, 213, 240);
  cursor: pointer;
}
.sidebar label{
  transition: 2s ;
 
}
.tim{
  animation: somet 3s ;
}

@keyframes somet {
  from {
opacity: 0;  }
  to {
    opacity: 1;
  }
}

.sidebar label:hover{
  transform: rotate(360deg);
  transform: skewX(10px);
  color: green
}

.hw{
  backdrop-filter: blur(10px);
  justify-content: space-between;
  display: flex;
  align-self: flex-start;
  box-shadow: 20px 10px 41px 0px black;
  border-radius: 10px ;
}

.hw div{

  padding: 30px;
  border-right: 1px solid ghostwhite;
  backdrop-filter: blur(100px);
  z-index: 11;
 
}


@media screen and (max-width:720px) {
  .wha{
    display: block;
    /* margin-left: 50%; */
    width: auto;
  }
  
}